

.containerStyles {
  height: 10px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
  border-radius: 99px;
  // margin: 5px;
}

.fillerStyles  {
  height: 100%;
  // width: 50%;
  // border-radius: $border-radius;
  // border-top-left-radius: $border-radius;
  // border-bottom-left-radius: $border-radius;
  // background-color: #9575cd;
  text-align: right;
}

.fillerExceeded {
  background-color: #ef5350 !important;
  box-shadow: 0 8px 20px rgba(239, 83, 80, 0.24);
}

.warningLine {
  width: 0;
  border-left: 1px dotted red;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 80%;
}