@import "colors";
@import "grid";
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--theme-bg) !important;
  font-family: Inter, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container {
  padding: 1rem;
  width: 750px;
  position: absolute;
  height: 100vh;
  left: 50%;
  // top: -10%;
  transform: translateX( -50%);
}
.page-view {
  height: 100%;
  background: var( --theme-fg);
  border-radius: 12px;
}

// ========= RESETS ======
.chakra-modal__content {
  background: var( --theme-fg) !important;
}