@import "responsive";

.page_container {
  height: 100vh;
  background: linear-gradient(to bottom, #fff, #ffeaea, #dc40dc);
}

.logo {
  height: 50px;
}

.text_color {
  color: #230523;
}

.view {
  @include media-gt-phone {
    display: grid;
    grid-template-columns: auto 400px;
  }
}


.splash_bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFF8E2;
}

.splash_logo {
  height: 100px;
  width: 100px;
}
