.sideNavContainer {
  height: 100%;
}

.topContainer {
  background: var(--theme-fg);
  // padding: 16px;
  border-radius: 12px;
  position: relative;
  height: 50%;
  margin-bottom: 8px;
}
.bottomContainer {
  background: var(--theme-fg);
  // padding: 16px;
  overflow-y: auto;
  border-radius: 12px;
  position: relative;
  height: calc(50% - 8px);
}

.header {
  height: 40px;
  // line-height: 35px;
}

.list {
  height: calc(100% - 65px);
  overflow-y: auto;
}