.transactionList {
  height: 64.5vh;
  overflow-y: auto;
  padding-top: 1rem;
}

.transactionItem {
  margin-top: 24px;
  min-height: 65px;
  padding: 1px 16px 16px;
  border-bottom: 1px solid var(--theme-input-border);
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  &:first-child {
    margin-top: 0;
  }
}

.transactionItemLeading {
  display: flex;
}

.transactionItemTrailing {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.transactionItemImage {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.transactionItemText {
  margin-left: 12px;
}

.transactionItemTextTitle {
  font-weight: 600;
  font-size: 17px;
}

.transactionItemTransferTextTitle {
  font-weight: 500;
  display: inline-block;
  font-size: 17px;
}
.transactionItemTextDate {
  font-weight: 500;
  font-size: 14px;
  color: #666666;
}

.transactionItemAmount {
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.actionIcon {
  display: inline-block;
  margin-right: 8px;
}